body
{
  font-family: "Verdana", "Geneva", "Arial", sans-serif;
  padding-top: 1em;
}

h1, h2, h3, h4, h5, h6
{
  font-weight: 600;
}

h1, .jumbotron h1
{
  font-size: 18pt;
}

h2
{
  background: rgb(217, 37, 23);
  color: white;
  font-size: 12pt;
  padding: .25em;
}

a
{
  color: rgb(217, 37, 23);
}

a:focus, a:hover
{
  color: rgba(217, 37, 23, 0.8);
}

dt
{
  margin-top: .5em;
}

dd
{
  margin-left: 1em;
}

iframe
{
  border: none;
}

.centered
{
  margin-left: auto;
  margin-right: auto;
}

.fullwidth
{
  width: 100%;
}

.navbar-toggle
{
  background: #eee;
  border: 1px solid #ddd;
  float: none;
}

.navbar-toggle .icon-bar
{
  background-color: #333;
}

.jumbotron
{
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/2/20/Brno_View_from_Spilberk_135.JPG");

  background-position: 0% 35%;
  background-size: cover;

  padding-top: 2em;
  padding-bottom: 2em;

  box-shadow: inset 0 0 0 1000px rgba(217, 37, 23, 0.7);
  text-shadow: 2px 2px 8px black;
}

.jumbotron h1, .jumbotron .location
{
  color: white;
}

.jumbotron h1
{
  text-align: center;
}

.jumbotron .location
{
  font-size: 14pt;
  font-weight: bold;
  margin: 1em;
  text-align: right;
}


td:not(:first-child), th:not(:first-child)
{
  padding-left: 1em;
}

td:first-child
{
  font-weight: bold;
}

.left
{
  float: left;
}

.right
{
  float: right;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover
{
  background: rgba(217, 37, 23, 0.8);
  border-color: rgb(217, 37, 23);
}

.news
{
  background: rgba(217, 37, 23, 0.1);
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: .5em;
}

.news .summary
{
  margin: .5em;
}

#sidebar
{
  padding-left: 0;
}

#sidebar .list-group-item
{
  padding-left: .5em;
  padding-right: .5em;
}

.row
{
  margin-bottom: 1em;
}

.wide
{
  width: 100%;
}

#top
{
  margin-bottom: 0;
}

h1:first-child
{
  margin-top: 0;
}

.row :first-child
{
  margin-top: 0;
}

.row-offcanvas-left.active
{
  left: 60%;
}

@media screen and (min-width: 768px)
{
  .jumbotron
  {
    padding-bottom: .25em;
  }
}
